.trustedBy {
  background-color: #fafafa;
  height: 100%;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    color: lightgrey;
    font-weight: 500;

    img {
      height: 50px;
      object-fit: contain;
    }
  }
}
